// -------------------------------------
// Bliss: LESS > FORK CHANGES
// -------------------------------------


// Header
// -------------

.header-search {
    margin-right: -120px;
}

.header-wrapper {
    padding: 5px 2%;
}

.template-title {
    margin-top: 40px!important;
}

.company-link:hover {
    color: @color__companyname--text;
}


// Navigation
// -------------

.extendednavigation__navigation-item {
    display: block;
    flex: initial;
}

.navigation-item.folder.open .navigation-list {
    background-color: @color-swatch7;
}

.navigation-item .item-name {
    padding: 8px 30px;
}

// Dropdown Menu
.navigation-item.folder {
    .item-name {
        color: @color__navigation--text;
    }
}


// Feature
// -------------

.feature__background-image {
    height: 700px;
}

.feature {
    .content-wrap {
        padding: 0;
        vertical-align: bottom;
    }
    .content-inner-wrap {
        padding: 30px 80px 0px;
        border: 8px solid @color-swatch7;
        border-bottom: 0;
        @media @tablet {
            padding: 20px 50px 0px;
        }
        @media @mobile {
            padding: 10px 10px 0px;
        }
    }
    .headline:after {
        display: none;
    }
}


// Variables Feature
.feature {
    &__content-inner-wrap {
        background-color: @color__feature-content--background;
    }
}


// Forms
// -------------

.contactform__legend,
.signupform__legend,
.blogsearch__legend,
.ecomproductslist__product-item-title, 
.ecomfeaturedproducts__product-item-title,
.template-title h1 {
    &:after {
        display: none;
    }
}

form,
.form {
    background-color: white;
    border: 5px solid @color-swatch7;
}

input[type="search"], 
input[type="email"], 
input[type="password"], 
textarea, 
.input--single-line {
        border: 5px solid @color-swatch7;
}

.contactform__input {
    padding: 10px 10px !important;
}

input.input[type=email]:focus {
    padding: 14px 10px !important;
}

.blogsearch__input,
.signupform__input {
    border-right: 0!important;
    @media @mobile {
        border-right: 5px solid @color-swatch7!important;
    }
}

.contactform__label {
    background-color: @color-swatch7;
}


// Footer
// -------------

.responsiveslideshow .pagination-item.selected .button--pagination,
.listing-pagination .pagination-item.current a,
.template-footer p,
.template-footer a,
.template-footer span,
.template-footer h1,
.template-footer h2,
.template-footer h3,
.template-footer h4 {
    color: @color__button--text;
}

.template-footer {
    .signupform__form {
        border: 0;
    }
    .signupform__form .legend,
    .twitter__timestamp {
        color: @color__button--text;
    }
}


// Ecommerce
// -------------

.basket-toggle:hover {
    border-bottom: 0;
}

.ecomproductslist__form,
.ecomproduct__form,
.ecombasketsummary__summary-form {
    border: 0;
}

.product-attributes .product-attribute-title {
    color: @color__p--text;
}

.ecomproductslist__button:hover {
    background-color: @color__button--background--hover;
}


// Blog
// -------------

.post-image .image {
    max-height: 500px;
}

.blogpost__image-link {
    background-color: transparent;
}

.product-image .image-link {
    @media @tablet {
        margin-top: 20px;
    }
}

